.container {
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  width: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @include media('min', 'tablet') {
    width: $tablet;

    padding-left: 32px;
    padding-right: 32px;
  }

  @include media('min', 'desktop') {
    width: $desktop;
  }

  @media screen and (min-width: 1720px) {
    width: 1720px;
  }
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @include media('min', 'tablet') {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @include media('min', 'desktop') {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}

.section__title {
  color: var(--white);
  font-family: 'Playfair Display', sans-serif;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 40px;

  @include media('min', 'tablet') {
    font-size: 36px;
    margin-bottom: 60px;
  }
  @include media('min', 'desktop') {
    font-size: 36px;
  }

  &::after {
    content: '';
    width: 120px;
    height: 1px;
    background-color: var(--white);
    display: block;
    margin: 0 auto;
    margin-top: 36px;
  }
}

.section__text {
  font-family: PT Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  @include media('min', 'desktop') {
    font-size: 14px;
  }
}

.section__subscript {
  font-family: PT Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.card {
  background-color: transparent;
  width: fit-content;

  &:hover .card__img {
    filter: blur(2px);
  }
  &:hover {
    .card__link {
      opacity: 1;
    }
    .card__name,
    .card__price {
      opacity: 0;
    }
  }

  .img-wraper {
    padding: 27px 22px 34px 22px;
    background-color: var(--card-bg);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
  }
  .card__img {
    width: 215px;
    height: 264px;
    transition: all 250ms linear;
    opacity: 1;
  }
  .card__name {
    color: var(--white);
    font-family: Playfair Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    transition: opacity 250ms linear;
    opacity: 1;
  }

  .card__price {
    color: var(--light-grey);
    font-family: Playfair Display;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: opacity 250ms linear;
  }

  .card__link {
    opacity: 0;
    display: flex;
    position: absolute;
    width: max-content;
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    transition: opacity 300ms linear;
  }
}

.newseason_card {
  &:last-child {
    @media screen and (max-width: 1720px) {
      display: none;
    }
  }

  &:nth-child(2) {
    @media screen and (max-width: 1280px) {
      display: none;
    }
  }
}
