<section class="about__section">
  <div class="container about__container">
    <ul class="about__list">
      <li class="about about__about-bg about__about">
        <div class="container--mobile">
          <h3 class="about__title">про компанію</h3>
          <p class="section__text about__text">
            Компанія PORTEN – лідер на українському ринку годинників. На цей час ми об'єднуємо
            більше сорока магазинів у різних куточках України та інтернет-магазин, який став першим
            в нашому сегменті ринку. Торгова мережа PORTEN – офіційний дистриб'ютор більше 50
            найвідоміших годинникових марок, починаючи від японської CASIO, закінчуючи швейцарськими
            LONGINES, ZENITH, TAG HEUER. Однак компанія не обмежується лише годинниками – в
            інтернет-магазині та бутіках мережі ви знайдете прекрасні ювелірні вироби від таких
            іменитих брендів, як SWAROVSKI и CHRISTINA.
          </p>
        </div>
      </li>
      <li class="about about__category container--mobile">
        <h3 class="about__title">Категорії</h3>
        <ul class="about__category-list">
          <li class="button button--black about__button about__button--active">
            <a href="#"> годинники </a>
          </li>
          <li class="button button--black about__button">
            <a href="#"> запонки </a>
          </li>
          <li class="button button--black about__button">
            <a href="#"> ремені </a>
          </li>
          <li class="button button--black about__button">
            <a href="#"> ювелірні вироби </a>
          </li>
          <li class="button button--black about__button">
            <a href="#"> на замовлення </a>
          </li>
          <li class="button button--black about__button">
            <a href="#"> браслети </a>
          </li>
        </ul>
      </li>

      <li class="about about__subscribe container--mobile">
        <h3 class="about__title">розсилка</h3>
        <p class="section__text about__text">
          Компанія пропонує тільки оригінальну продукцію від найвідоміших світових брендів за
          найкращою ціною. Ми дбаємо про комфорт наших покупців і постійно розширюємо можливості
          сервісного обслуговування.
        </p>

        <form class="about__form" id="form_subscribe">
          <input type="text" class="about__input" placeholder="Ваша пошта" />
          <button type="submit" class="button button--black about__button-submit">
            ПІДПИСАТИСЯ
          </button>
        </form>
      </li>
    </ul>
  </div>
</section>
