<section class="section articles__section">
  <div class="">
    <h2 class="section__title container">Статті та корисна інформація</h2>
    <ul class="articles__list">
      <li class="articles__items1">
        <div class="articles__container">
          <h3 class="section__subscript articles__subscript">ROGER DUBUIS. ЧАСТИНА 1</h3>
          <p class="section__text articles__text">
            Цей чемпіон «гіперхорології» став синонімом надмірності й завдяки своїй радикальній
            скелетонізованій архітектурі неодноразово демонструє пристрасть до годинного вуайєризму.
            У цій серії з чотирьох статей описується нещодавня подорож на мануфактуру, де можна було
            спостерігати за виготовленням та оздобленням деталей, а також за збіркою та регулюванням
            годинників компанії.
          </p>
          <div class="articles__wraper">
            <a href="#" class="button button--transparent">читати</a>
            <p class="section__subscript articles__tag">#ЕКСКЛЮЗИВ #ПРОБРЕНД</p>
          </div>
        </div>
      </li>
      <li class="articles__items2">
        <div class="articles__container">
          <h3 class="section__subscript articles__subscript">
            ІСТОРІЯ ЛЮКСОВИХ ГОДИННИКІВ. ЧАСТИНА 1
          </h3>
          <p class="section__text articles__text">
            Історія люксових годинників зародилася дуже давно, вона веде відлік із часів перших
            годинників у світі. Тоді годинник був розкішшю, яку могла собі дозволити лише найвища
            еліта суспільства. Навіть не всім, хто має титул і великі гроші, могли виготовити цей
            розкішний аксесуар. Власне, з того часу мало що змінилося.
          </p>
          <div class="articles__wraper">
            <a href="#" class="button button--transparent">читати</a>
            <p class="section__subscript articles__tag">#ЕКСКЛЮЗИВ #IСТОРIЯ</p>
          </div>
        </div>
      </li>
      <li class="articles__items3">
        <div class="articles__container">
          <h3 class="section__subscript articles__subscript">
            ВЕЛИКИЙ ТА СМІЛИВИЙ TISSOT PRS 516 CHRONOGRAPH
          </h3>
          <p class="section__text articles__text">
            На початку цього року компанія Tissot оновила модель PRS 516 Automatic Chronograph, але
            не пішла вінтажним шляхом. На противагу колекції Heritage із переконливими рімейками
            вінтажних моделей, PRS 516 – це сучасний хронограф із зухвалим настроєм, безліччю
            деталей автоспорту й за чудовою ціною.
          </p>
          <div class="articles__wraper">
            <a href="#" class="button button--transparent">читати</a>
            <p class="section__subscript articles__tag">#ХРОНОГРАФ #TISSOT #ОГЛЯДГОДИННИКIВ</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
