<section class="section section__hero">
  <div class="container">
    <h1 class="section__title visually-hidden">Clock shop</h1>
    <div class="hero__title-wrap">
      <include src="./partials/logo.html"></include>
      <p class="hero__subtitle">івано-франківськ</p>
    </div>
    <p class="section__text section__text--hero">
      В магазинах Торговельній мережі Porten ви можете купити годинник у Бахмуті, Вінниці, Дніпрі,
      Житомирі, Запоріжжі, Івано-Франківську, Києві, Краматорську, Луцьку, Львові, Одесі,
      Покровську, Полтаві, Рівному, Слов'янську, Сумах, Тернополі, Харкові, Херсоні, Хмельницькому,
      Черкасах, Чернівцях, Чернігові , а також багатьох інших містах України
    </p>
    <!-- <button type="button" class="button button--black">Send</button> -->
  </div>
</section>
