<section class="section">
  <div class="container">
    <h2 class="section__title">Нові надходження</h2>
    <ul class="newProducts__gallery">
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-1-1x.webp 1x, ./images/card/card-1-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-1-1x.png 1x, ./images/card/card-1-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-1-1x.png"
              alt="нова модель годинника Louis XVI ATHOS"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Louis XVI ATHOS</p>
        <p class="card__price">13 600 грн.</p>
      </li>
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-2-1x.webp 1x, ./images/card/card-2-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-2-1x.png 1x, ./images/card/card-2-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-2-1x.png"
              alt="нова модель годинника U-Boat Italo FontanaS"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">U-Boat Italo Fontana</p>
        <p class="card__price">18 700 грн.</p>
      </li>

      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-3-1x.webp 1x, ./images/card/card-3-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-3-1x.png 1x, ./images/card/card-3-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-3-1x.png"
              alt="нова модель годинника Gucci Men's G"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Gucci Men's G</p>
        <p class="card__price">38 500 грн.</p>
      </li>
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-4-1x.webp 1x, ./images/card/card-4-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-4-1x.png 1x, ./images/card/card-4-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-4-1x.png"
              alt="нова модель годинника Carl von Zeyten"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Carl von Zeyten</p>
        <p class="card__price">16 500 грн.</p>
      </li>
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-4-1x.webp 1x, ./images/card/card-5-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-4-1x.png 1x, ./images/card/card-5-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-5-1x.png"
              alt="нова модель годинника JORD AR5905"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">JORD AR5905</p>
        <p class="card__price">65 000 грн.</p>
      </li>
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-6-1x.webp 1x, ./images/card/card-6-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-6-1x.png 1x, ./images/card/card-6-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-6-1x.png"
              alt="нова модель годинника Emporio Armani Sportivo "
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Emporio Armani Sportivo</p>
        <p class="card__price">165 000 грн.</p>
      </li>
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-7-1x.webp 1x, ./images/card/card-7-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-7-1x.png 1x, ./images/card/card-7-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-7-1x.png"
              alt="нова модель годинника Rolex Oyster Perpetual"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Rolex Oyster Perpetual</p>
        <p class="card__price">280 000 грн.</p>
      </li>
      <li class="card newProducts_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="./images/card/card-1-1x.webp 1x, ./images/card/card-1-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="./images/card/card-1-1x.png 1x, ./images/card/card-1-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="./images/card/card-1-1x.png"
              alt="нова модель годинника Louis XVI ATHOS"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Louis XVI ATHOS</p>
        <p class="card__price">13 600 грн.</p>
      </li>
    </ul>
  </div>
</section>
