<section class="newseason__section">
  <div class="newseason__container newseason__container--gallery">
    <h2 class="section__title">СЕЗОН 2021/22</h2>
    <ul class="newseason__gallery">
      <li class="card newseason_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="../images/card/card-1-1x.webp 1x, ../images/card/card-1-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="../images/card/card-1-1x.png 1x, ../images/card/card-1-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="../images/card/card-1-1x.png"
              alt="нова модель годинника Louis XVI ATHOS"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Louis XVI ATHOS</p>
        <p class="card__price">13 600 грн.</p>
      </li>

      <li class="card newseason_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="../images/card/card-4-1x.webp 1x, ../images/card/card-4-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="../images/card/card-4-1x.png 1x, ../images/card/card-4-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="../images/card/card-4-1x.png"
              alt="нова модель годинника Carl von Zeyten"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">Carl von Zeyten</p>
        <p class="card__price">16 500 грн.</p>
      </li>
      <li class="card newseason_card">
        <div class="img-wraper">
          <a href="#" class="button button--transparent card__link">ПОКАЗАТИ ВСІ</a>
          <picture>
            <source
              srcset="../images/card/card-4-1x.webp 1x, ../images/card/card-5-2x.webp 2x"
              type="image/webp"
              loading="lazy"
            />
            <source
              srcset="../images/card/card-4-1x.png 1x, ../images/card/card-5-2x.png 2x"
              type="image/png"
              loading="lazy"
            />

            <img
              class="card__img"
              src="../images/card/card-5-1x.png"
              alt="нова модель годинника JORD AR5905"
              loading="lazy"
              width="215"
              height="264"
            />
          </picture>
        </div>
        <p class="card__name">JORD AR5905</p>
        <p class="card__price">65 000 грн.</p>
      </li>
    </ul>
  </div>
  <div class="newseason__section--image">
    <div class="newseason__container newseason__container--img">
      <h2 class="section__title">Нова колекція</h2>
      <a href="#" class="button button--transparent newseason__button">Каталог</a>
    </div>
  </div>
</section>
