<section class="section">
  <div class="container">
    <h2 class="section__title">Наші партнери</h2>
    <ul class="partners__wraper">
      <li>
        <picture>
          <source
            srcset="
              ./images/partners/partners1-desktop-1x.webp 1x,
              ./images/partners/partners1-desktop-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners1-desktop-1x.png 1x,
              ./images/partners/partners1-desktop-2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
            loading="lazy"
          />

          <source
            srcset="
              ./images/partners/partners1-mobile-1x.webp 1x,
              ./images/partners/partners1-mobile-2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners1-mobile-1x.png 1x,
              ./images/partners/partners1-mobile-2x.png 2x
            "
            type="image/png"
            loading="lazy"
          />

          <img
            src="./images/partners/partners1-mobile-1x.png"
            class="partners__img"
            alt="логотип компанії партнера COCO Fine Jewelry"
            loading="lazy"
            width="150"
            height="61"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/partners/partners2-desktop-1x.webp 1x,
              ./images/partners/partners2-desktop-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners2-desktop-1x.png 1x,
              ./images/partners/partners2-desktop-2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
            loading="lazy"
          />

          <source
            srcset="
              ./images/partners/partners2-mobile-1x.webp 1x,
              ./images/partners/partners2-mobile-2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners2-mobile-1x.png 1x,
              ./images/partners/partners2-mobile-2x.png 2x
            "
            type="image/png"
            loading="lazy"
          />

          <img
            src="./images/partners/partners2-mobile-1x.png"
            class="partners__img"
            alt="логотип компанії партнера Rolex"
            loading="lazy"
            width="150"
            height="61"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/partners/partners3-desktop-1x.webp 1x,
              ./images/partners/partners3-desktop-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners3-desktop-1x.png 1x,
              ./images/partners/partners3-desktop-2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
            loading="lazy"
          />

          <source
            srcset="
              ./images/partners/partners3-mobile-1x.webp 1x,
              ./images/partners/partners3-mobile-2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners3-mobile-1x.png 1x,
              ./images/partners/partners3-mobile-2x.png 2x
            "
            type="image/png"
            loading="lazy"
          />

          <img
            src="./images/partners/partners3-mobile-1x.png"
            class="partners__img"
            alt="логотип компанії партнера Breguet"
            loading="lazy"
            width="150"
            height="61"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ./images/partners/partners4-desktop-1x.webp 1x,
              ./images/partners/partners4-desktop-2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1280px)"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners4-desktop-1x.png 1x,
              ./images/partners/partners4-desktop-2x.png 2x
            "
            type="image/png"
            media="(min-width: 1280px)"
            loading="lazy"
          />

          <source
            srcset="
              ./images/partners/partners4-mobile-1x.webp 1x,
              ./images/partners/partners4-mobile-2x.webp 2x
            "
            type="image/webp"
            loading="lazy"
          />
          <source
            srcset="
              ./images/partners/partners4-mobile-1x.png 1x,
              ./images/partners/partners4-mobile-2x.png 2x
            "
            type="image/png"
            loading="lazy"
          />

          <img
            src="./images/partners/partners4-mobile-1x.png"
            class="partners__img"
            alt="логотип компанії партнера Haven"
            loading="lazy"
            width="150"
            height="61"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
