.collection2018__container {
  @include media('min', 'tablet') {
    width: 360px;
    margin-left: calc(50% + 32px);
    padding-left: 0;
  }
  @include media('min', 'desktop') {
    width: 556px;
  }

  @media screen and (min-width: 1480px) {
    width: 600px;
  }

  @media screen and (min-width: 1720px) {
    width: 760px;
  }
}

.collection2018__text {
  margin-bottom: 65px;

  @include media('max', 'tablet') {
    text-align: center;
  }
}

.collection2018__button {
  @include media('max', 'tablet') {
    margin: 0 auto;
  }
}

.collection2018__section {
  background-image: url('../images/collection2018/collection2018-mobile-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/collection2018/collection2018-mobile-2x.jpg');
  }
  @supports (background-image: url('../images/collection2018/collection2018-mobile-1x.webp')) {
    background-image: url('../images/collection2018/collection2018-mobile-1x.webp');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/collection2018/collection2018-mobile-2x.webp');
    }
  }
}

@media screen and (min-width: 768px) {
  .collection2018__section {
    background-position: top right calc(50vw);
    background-image: url('../images/collection2018/collection2018-tablet-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .collection2018__section {
      background-position: top right calc(50vw);
      background-image: url('../images/collection2018/collection2018-tablet-2x.jpg');
    }
  }

  @supports (background-image: url('../images/collection2018/collection2018-tablet-1x.webp')) {
    .collection2018__section {
      background-position: top right calc(50vw);
      background-image: url('../images/collection2018/collection2018-tablet-1x.webp');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .collection2018__section {
        background-position: top right calc(50vw);
        background-image: url('../images/collection2018/collection2018-tablet-2x.webp');
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .collection2018__section {
    background-image: url('../images/collection2018/collection2018-desktop-1x.jpg');
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .collection2018__section {
      background-image: url('../images/collection2018/collection2018-desktop-2x.jpg');
    }
  }
  @supports (background-image: url('./images/collection2018/collection2018-desktop-1x.webp')) {
    .collection2018__section {
      background-image: url('../images/collection2018/collection2018-desktop-1x.webp');
    }
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .collection2018__section {
        background-image: url('../images/collection2018/collection2018-desktop-2x.webp');
      }
    }
  }
}
